@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #18181b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brandOrange: #f79549;
  --font-sans: var(--font-outfit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Outfit", sans-serif;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

/* Smooth page transitions */
* {
  scroll-behavior: smooth;
}
